// START BLOG
section#blog.section.bg-light
	.container
		.row.justify-content-center
			.col-lg-12
				.text-center
					h2
						| Our 
						span.fw-bold Blog
					p.text-muted.mx-auto.section-subtitle.mt-3
						| It is a long established fact that a reader
						| will be of a page when established fact looking at its layout.
		.row.mt-5
			.col-lg-4.mt-3
				.rounded.blog_color.p-2
					.img_blog
						img.img-fluid.rounded.mx-auto.d-block(src='images/blog/blog-1.jpg' alt='')
					.content_blog.p-3
						div
							h5.font-weight-bold.mb-0
								a.text-white(href='#')
									| There are many
									| variations
						.mt-3
							p.h6.text-muted.date_blog.mb-0
								| 11 March 2018 
								a.text-custom.font-weight-bold(href='#') By Kerri
							p.mt-3.desc_blog.text-muted
								| Sit sagittis vulputate laoreet sodales tortor nulla
								| lobortis bibendum netus primis fames. Lobortis ultricies.
							p.h6.mb-0
								a.text-muted.font-weight-bold(href='#') Read More...
			.col-lg-4.mt-3
				.rounded.blog_color.p-2
					.img_blog
						img.img-fluid.rounded.mx-auto.d-block(src='images/blog/blog-2.jpg' alt='')
					.content_blog.p-3
						div
							h5.fw-bold.mb-0
								a.text-white(href='#') Contrary to popular belief
						.mt-3
							p.h6.text-muted.date_blog.mb-0
								| 18 March 2018 
								a.text-custom.fw-bold(href='#') By Kerri
							p.mt-3.desc_blog.text-muted
								| Sit sagittis vulputate laoreet sodales tortor nulla
								| lobortis bibendum netus primis fames. Lobortis ultricies.
							p.h6.mb-0
								a.text-muted.fw-bold(href='#') Read More...
			.col-lg-4.mt-3
				.rounded.blog_color.p-2
					.img_blog
						img.img-fluid.rounded.mx-auto.d-block(src='images/blog/blog-3.jpg' alt='')
					.content_blog.p-3
						div
							h5.fw-bold.mb-0
								a.text-white(href='#') Lorem Ipsum is not simply
						.mt-3
							p.h6.text-muted.date_blog.mb-0
								| 22 March 2018 
								a.text-custom.fw-bold(href='#') By Kerri
							p.mt-3.desc_blog.text-muted
								| Sit sagittis vulputate laoreet sodales tortor nulla
								| lobortis bibendum netus primis fames. Lobortis ultricies.
							p.h6.mb-0
								a.text-muted.fw-bold(href='#') Read More...
// END BLOG
