.wrap-bottom 
    .panel
        .panel-heading 
            h3.hero-title Số liệu chi tiết
        .panel-body
            .container--tabs
                ul.nav-tabs.d-flex.align-items-center
                    li.active
                        a(href='#tab-1') Nguồn truy cập
                    li
                        a(href='#tab-2') Sản phẩm dịch vụ
                    li
                        a(href='#tab-3') Chi nhánh 
                .tab-content
                    #tab-1.panel.active
                        table 
                            tr
                                td
                                    p Nguồn
                                td
                                    p.title Lượt truy cập
                                        img.icon(src="./images/icons/sort.svg", alt="")
                                td
                                    p.title Lượt quan tâm SPDV
                                        img.icon(src="./images/icons/sort.svg", alt="")
                            tr
                                td
                                    h3 Tổng
                                td
                                    h3 100%
                                td
                                    h3 100%
                            tr
                                td
                                    p (Direct)
                                td
                                    p 17,32%
                                td
                                    p 53%
                            tr
                                td
                                    p Zalo
                                td
                                    p 7,63%
                                td
                                    p 10,46%
                            tr
                                td
                                    p Google
                                td
                                    p 15,94%
                                td
                                    p 9,83%
                            tr
                                td
                                    p ADI-T-SNS-TT-VD-NEW
                                td
                                    p 37,27%
                                td
                                    p 5,59%
                            tr
                                td
                                    p m.facebook.com
                                td
                                    p 2,1%
                                td
                                    p 3,93%