// START ABOUT
section#about.section
	.wide
		.row.align-items-center
			.col-lg-6
				.mt-3
					img.img-fluid.mx-auto.d-block.img-thumbnail(src='./images/avata.jpg' alt='')
			.col-lg-6
				.mt-3
					h2
						span.fw-bold About
						|  Me
					h4.mt-4
						| Hello! 
						span.text-custom.fw-bold I'M Kerri Deo.
					p.text-muted.mt-4
						| It is a long established fact that a reader will be distracted by the
						| readable content of a page when looking at its layout.
					p.text-muted.mt-2
						| The point of using Lorem Ipsum is that it has a more-or-less normal
						| distribution of letters, as opposed to using 'Content here, content here', making it look
						| like readable English.
					p.text-muted.mt-2
						| There are many variations of passages of Lorem Ipsum available, but
						| the majority have suffered alteration in some form, by injected humour, or randomised words
						| which don't look even slightly believable.
					div
						ul.mb-0.about-social.list-inline.mt-4
							li.list-inline-item
								a(href='#')
									i.mdi.mdi-dribbble
							li.list-inline-item
								a(href='#')
									i.mdi.mdi-facebook
							li.list-inline-item
								a(href='#')
									i.mdi.mdi-linkedin
							li.list-inline-item
								a(href='#')
									i.mdi.mdi-twitter
// END ABOUT
