// START SERVICES
section#services.section.bg-light
	.container
		.row.justify-content-center
			.col-lg-12
				.text-center
					h2
						| Our 
						span.fw-bold Services
					p.text-muted.mx-auto.section-subtitle.mt-3
						| It is a long established fact that a reader
						| will be of a page when established fact looking at its layout.
		.row.mt-5
			.col-lg-4
				.text-center.services-boxes.rounded.p-4.mt-4
					.services-boxes-icon
						i.mbri-growing-chart.text-custom.display-4
					.mt-4
						h5.mb-0 Graphic Design
						.services-title-border
						p.text-muted.mt-3
							| There are many variations of passages of but the majority have
							| suffered alteration in some form.
			.col-lg-4
				.text-center.services-boxes.rounded.p-4.mt-4
					.services-boxes-icon
						i.mbri-hot-cup.text-custom.display-4
					.mt-4
						h5.mb-0 Unlimited Color
						.services-title-border
						p.text-muted.mt-3
							| There are many variations of passages of but the majority have
							| suffered alteration in some form.
			.col-lg-4
				.text-center.services-boxes.rounded.p-4.mt-4
					.services-boxes-icon
						i.mbri-upload.text-custom.display-4
					.mt-4
						h5.mb-0 Media Marketing
						.services-title-border
						p.text-muted.mt-3
							| There are many variations of passages of but the majority have
							| suffered alteration in some form.
		.row
			.col-lg-4
				.text-center.services-boxes.rounded.p-4.mt-4
					.services-boxes-icon
						i.mbri-layers.text-custom.display-4
					.mt-4
						h5.mb-0 Unlimited Wifi
						.services-title-border
						p.text-muted.mt-3
							| There are many variations of passages of but the majority have
							| suffered alteration in some form.
			.col-lg-4
				.text-center.services-boxes.rounded.p-4.mt-4
					.services-boxes-icon
						i.mbri-website-theme.text-custom.display-4
					.mt-4
						h5.mb-0 Responsive Design
						.services-title-border
						p.text-muted.mt-3
							| There are many variations of passages of but the majority have
							| suffered alteration in some form.
			.col-lg-4
				.text-center.services-boxes.rounded.p-4.mt-4
					.services-boxes-icon
						i.mbri-edit.text-custom.display-4
					.mt-4
						h5.mb-0 Easy to customize
						.services-title-border
						p.text-muted.mt-3
							| There are many variations of passages of but the majority have
							| suffered alteration in some form.
// END SERVICES
