// START CONTACT
section#contact.section
	.container
		.row.justify-content-center
			.col-lg-12
				.text-center
					h2
						span.fw-bold Contact
						|  Us
					p.text-muted.mx-auto.section-subtitle.mt-3
						| It is a long established fact that a reader
						| will be of a page when established fact looking at its layout.
		.row.mt-5
			.col-lg-4
				.text-center
					div
						i.mbri-mobile2.text-custom.h1
					.mt-3
						h5.mb-0.contact_detail-title.fw-bold Call Us On
						p.text-muted +985 123 7856
			.col-lg-4
				.text-center
					div
						i.mbri-letter.text-custom.h1
					.mt-3
						h5.mb-0.contact_detail-title.fw-bold Email Us At
						p.text-muted Website.Kerri@gmail.com
			.col-lg-4
				.text-center
					div
						i.mbri-pin.text-custom.h1
					.mt-3
						h5.mb-0.contact_detail-title.fw-bold Visit Office
						p.text-muted 202, Grasselli Street , Conway.
		.row.mt-5
			.col-lg-12
				.form-kerri.contact_form
					form
						.row
							.col-lg-6
								.form-group.mt-2
									input.form-control(type='text' placeholder='Your name...' aria-label='First name')
							.col-lg-6
								.form-group.mt-2
									input#inputEmail4.form-control(type='email' placeholder='Your email...')
						.row
							.form-group.mt-2
								input.form-control(type='text' placeholder='Your Subject..' aria-label='Subject')
						.row
							.col-lg-12
								.form-group.mt-2
									textarea#exampleFormControlTextarea1.form-control(rows='4' placeholder='Your Massage...')
						.row
							.col-lg-12.text-end.mt-2
								input#submit.btn.btn-custom.text-uppercase(type='submit' name='send' value='Send Massage')
// END CONTACT
