// START WORK
section#portfolio.section.text-center
	.container
		.row.justify-content-center
			.col-lg-12
				.text-center
					h2
						| Our 
						span.fw-bold Works
					p.text-muted.mx-auto.section-subtitle.mt-3
						| It is a long established fact that a reader
						| will be of a page when established fact looking at its layout.
		.row.mt-5
			ul#menu-filter.col.list-unstyled.list-inline.mb-0.text-uppercase.work_menu
				li.list-inline-item
					a.active(data-filter='*') All
				li.list-inline-item
					a(data-filter='.seo') Seo
				li.list-inline-item
					a(data-filter='.webdesign') Webdesign
				li.list-inline-item
					a(data-filter='.WORK') WORK
				li.list-inline-item
					a(data-filter='.wordpress') Wordpress
	.container
		.row.mt-4.work-filter
			.col-lg-4.work_item.webdesign.wordpress
				a.img-zoom(href='images/works/1.jpg')
					.work_box
						.work_img
							img.img-fluid.mx-auto.d-block.rounded(src='images/works/1.jpg' alt='work-img')
						.work_detail
							p.mb-2 Category
							h4.mb-0 Project Title
			.col-lg-4.work_item.WORK.webdesign.seo
				a.img-zoom(href='images/works/2.jpg')
					.work_box
						.work_img
							img.img-fluid.mx-auto.d-block.rounded(src='images/works/2.jpg' alt='work-img')
						.work_detail
							p.mb-2 Category
							h4.mb-0 Project Title
			.col-lg-4.work_item.seo.wordpress
				a.img-zoom(href='images/works/3.jpg')
					.work_box
						.work_img
							img.img-fluid.mx-auto.d-block.rounded(src='images/works/3.jpg' alt='work-img')
						.work_detail
							p.mb-2 Category
							h4.mb-0 Project Title
			.col-lg-4.work_item.wordpress.WORK.webdesign
				a.img-zoom(href='images/works/4.jpg')
					.work_box
						.work_img
							img.img-fluid.mx-auto.d-block.rounded(src='images/works/4.jpg' alt='work-img')
						.work_detail
							p.mb-2 Category
							h4.mb-0 Project Title
			.col-lg-4.work_item.seo.webdesign
				a.img-zoom(href='images/works/5.jpg')
					.work_box
						.work_img
							img.img-fluid.mx-auto.d-block.rounded(src='images/works/5.jpg' alt='work-img')
						.work_detail
							p.mb-2 Category
							h4.mb-0 Project Title
			.col-lg-4.work_item.devlopment.webdesign
				a.img-zoom(href='images/works/6.jpg')
					.work_box
						.work_img
							img.img-fluid.mx-auto.d-block.rounded(src='images/works/6.jpg' alt='work-img')
						.work_detail
							p.mb-2 Category
							h4.mb-0 Project Title
// END WORK
