extends _layout.pug

block var
	- var title = 'Trang chu'
	- var bodyClass = 'homepage'

block main
	include ../components/home/ketQuaMucTieu/index.pug
	.container-fluid 
		.wrap-container 
			.wrap-left 
				include ../components/home/hieuQuaDigitalMKT/index.pug
				include ../components/home/soLieuChiTiet/index.pug
			.wrap-right 
				include ../components/home/soLuongKHDangKy/index.pug
				include ../components/home/soLuongKHSuDung/index.pug