header 
	nav.top-bar.d-flex.align-items-center.justify-content-between
		.top-bar-left.d-flex.align-items-center
			a.top-bar-left__menu(href="") 
				img(src="./images/icons/menu.svg", alt="")
			a.top-bar-left__brand.ms-3.me-3.pe-3(href="")
				img(src="./images/logo.svg", alt="") 
			form.wrap-form.d-flex.align-items-center(action="") 
				.form-group
					select.form-control.m-0(name='name' placeholder='Tất cả khu vực')
						option(value="") Tất cả khu vực
						option(value="") Tất cả khu vực
				.form-group.ms-3
					select.form-control.m-0(name='name' placeholder='Tất cả khu vực')
						option(value="") Tất cả Tỉnh/TP
						option(value="") Tất cả Tỉnh/TP
		.top-bar-right
			ul.d-flex.align-items-center
				li
					.user 
						a(href="") 
							span.fw-bold Khoa
							img.avatar.ms-2(src="./images/avatar.png", alt="") 
				li
					a.bell_ring(href="") 
						img(src="./images/icons/bell.svg", alt="")
						span.important 90
				li 
					a.log_out(href="") 
						img(src="./images/icons/logout.svg", alt="")
