header 
	// Start Navbar
	nav.navbar.navbar-expand-lg.custom-nav.navbar-light.fixed-top.sticky
		.container
			h1.navbar-brand.pt-0.logo
				a(href='#')
					img.img-fluid(src='./images/logo.png' alt='')
			button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav')
				span.mdi.mdi-menu
			#navbarNav.collapse.navbar-collapse
				ul#main_nav.navbar-nav.ms-auto
					li.nav-item
						a.nav-link(href='#home') Home
					li.nav-item
						a.nav-link(href='#about') About
					li.nav-item
						a.nav-link(href='#services') Services
					li.nav-item
						a.nav-link(href='#portfolio') Portfolio
					li.nav-item
						a.nav-link(href='#blog') Blog
					li.nav-item
						a.nav-link(href='#contact') Contact
	// End Navbar
