.wrap-top 
    .panel
        .panel-heading 
            h3.sub-title Hành trình khách hàng
            p Dữ liệu hiện có ngày: 
                span 01/7/2022 - 30/07/2022
        .panel-body
            ul.wrap-list 
                li 
                    .item-left 
                        p Lượt truy cập website
                    .item-right 
                        .big-txt 
                            p 8,226
                        .small-txt 
                            img(src="./images/icons/arrow-up.svg", alt="")
                            span 56,7%
                li 
                    .item-left 
                        p Người truy cập website
                    .item-right 
                        .big-txt 
                            p 8,226
                        .small-txt 
                            img(src="./images/icons/arrow-up.svg", alt="")
                            span 56,7%
                li 
                    .item-left 
                        p Người truy cập website mới
                    .item-right 
                        .big-txt 
                            p 8,226
                        .small-txt 
                            img(src="./images/icons/arrow-up.svg", alt="")
                            span 56,7%
                li 
                    .item-left 
                        p Lượt quan tâm SPDV
                    .item-right 
                        .big-txt 
                            p 8,226
                        .small-txt 
                            img(src="./images/icons/arrow-up.svg", alt="")
                            span 56,7%
                li 
                    .item-left 
                        p Khách hàng đăng ký
                            br
                            | trên website
                    .item-right 
                        .big-txt 
                            p 8,226
                        .small-txt 
                            img(src="./images/icons/arrow-up.svg", alt="")
                            span 56,7%