.wrap-bottom 
    .panel
        .panel-heading 
            h3.sub-title Số lượng KH sử dụng SPDV thành công
            p Tỷ lệ chuyển đổi so với lượt truy cập: 
                span 0.6%
        .panel-body
            .chart-wrapper.d-flex.align-items-center
                .chart-content
                    canvas#myChart2(style="width: 100%;max-width: 223px; height: 200px;")
                    .label-text
                        p 50
                    .desc-chart
                        h3 12 (24%)
                        p Mở thẻ tín dụng
            .wrap-table 
                table 
                    tr
                        td
                            h3 Sản phẩm
                        td
                        td
                            h3 Số lượng KH 
                        td
                            h3  Tỉ lệ 
                                br
                                |tăng trưởng
                    tr
                        td
                            p Mở tài khoản e-SkyOne 
                        td 
                            .progress
                                .progress-bar.progress-bar--pink(data-progress='35' style='width: 0;')
                                .progress-bar.progress-bar--green(data-progress='15' style='width: 0;')
                        td
                            h3 25
                        td
                            .d-flex.align-items-center.justify-content-end
                                img(src="./images/icons/arrow-up.svg", alt="")
                                span 21%
                    tr
                        td
                            p Mở thẻ tín dụng
                        td 
                            .progress
                                .progress-bar.progress-bar--pink(data-progress='36' style='width: 0;')
                                .progress-bar.progress-bar--green(data-progress='33' style='width: 0;')
                        td
                            h3 17
                        td
                            .d-flex.align-items-center.justify-content-end
                                img(src="./images/icons/arrow-up.svg", alt="")
                                span 17%
                    tr
                        td
                            p Vay tiêu dùng
                        td 
                            .progress
                                .progress-bar.progress-bar--pink(data-progress='36' style='width: 0;')
                                .progress-bar.progress-bar--green(data-progress='34' style='width: 0;')
                        td
                            h3 10
                        td
                            .d-flex.align-items-center.justify-content-end
                                img(src="./images/icons/arrow-up.svg", alt="")
                                span 14%
                    tr
                        td
                            p Vay nông nghiệp
                        td 
                            .progress
                                .progress-bar.progress-bar--pink(data-progress='36' style='width: 0;')
                                .progress-bar.progress-bar--green(data-progress='16' style='width: 0;')
                        td
                            h3 4
                        td
                            .d-flex.align-items-center.justify-content-end
                                img(src="./images/icons/arrow-up.svg", alt="")
                                span 6%
                    tr
                        td
                            p Vay mua nhà
                        td 
                            .progress
                                .progress-bar.progress-bar--pink(data-progress='36' style='width: 0;')
                                .progress-bar.progress-bar--green(data-progress='33' style='width: 0;')
                        td
                            h3 3
                        td
                            .d-flex.align-items-center.justify-content-end
                                img(src="./images/icons/arrow-up.svg", alt="")
                                span 24%
                    tr
                        td
                            p Vay doanh nghiệp
                        td 
                            .progress
                                .progress-bar.progress-bar--pink(data-progress='36' style='width: 0;')
                                .progress-bar.progress-bar--green(data-progress='45' style='width: 0;')
                        td
                            h3 3
                        td
                            .d-flex.align-items-center.justify-content-end
                                img(src="./images/icons/arrow-up.svg", alt="")
                                span 50%