section.hero-section.section-1
    .container-fluid 
        .wrap-title.d-flex.align-items-center.justify-content-between
            h2.hero-title.pb-4 Mục tiêu và Kết quả đạt được
            #reportrange
                span
                img(src="./images/icons/chevron-down.svg", alt="")

        .grid-container.d-flex
            .cell 
                .panel
                    .panel-heading 
                        ul.d-flex.align-items-center 
                            li 
                                .icon
                                    img(src="./images/icons/user_box.svg", alt="")
                            li 
                                p.heading Tài khoản 
                                    br 
                                    |e-SkyOne
                            li 
                                .img 
                                    img(src="./images/icons/cup.png", alt="")
                    .panel-body
                        table.panel-body__table 
                            tr 
                                th 
                                th 
                                    p Thực đạt
                                th 
                                    p KPI
                                th 
                                    p Run rate
                                    p (%)
                                th 
                                    p Tổng
                                    p (%)
                            tr 
                                td 
                                    p Số lượng
                                td 
                                    p 1,000
                                td
                                    p 12,000
                                td
                                    .d-flex.align-items-center
                                        img.icon(src="./images/icons/arrow-up.svg", alt="") 
                                        span 52%
                                td
                                    span 8%
                            tr 
                                td 
                                    p CASA (trđ)
                                td 
                                    p 1,500
                                td
                                    p 300,000
                                td
                                    .d-flex.align-items-center
                                        img.icon(src="./images/icons/arrow-up.svg", alt="") 
                                        span 3%
                                td
                                    span 1%
            .cell 
                .panel
                    .panel-heading 
                        ul.d-flex.align-items-center 
                            li 
                                .icon
                                    img(src="./images/icons/credit.svg", alt="")
                            li 
                                p.heading Thẻ tín dụng
                            li 
                                .img 
                                    img(src="./images/icons/cup-2.png", alt="")
                    .panel-body
                        table.panel-body__table 
                            tr 
                                th 
                                th 
                                    p Thực đạt
                                th 
                                    p KPI
                                th 
                                    p Run rate
                                    p (%)
                                th 
                                    p Tổng
                                    p (%)
                            tr 
                                td 
                                    p Số lượng
                                td 
                                    p 1,500
                                td
                                    p 10,000
                                td
                                    .d-flex.align-items-center
                                        img.icon(src="./images/icons/arrow-up.svg", alt="") 
                                        span 94%
                                td
                                    span 15%
                            tr 
                                td 
                                    p Hạn mức TTD (trđ)
                                td 
                                    p 75,00
                                td
                                    p 500,000
                                td
                                    .d-flex.align-items-center
                                        img.icon(src="./images/icons/arrow-up.svg", alt="") 
                                        span 9%
                                td
                                    span 2%
            .cell 
                .panel
                    .panel-heading 
                        ul.d-flex.align-items-center 
                            li 
                                .icon
                                    img(src="./images/icons/business_box.svg", alt="")
                            li 
                                p.heading Vay thế chấp
                            li 
                                .img 
                                    img(src="./images/icons/cup.png", alt="")
                    .panel-body
                        table.panel-body__table 
                            tr 
                                th 
                                th 
                                    p Thực đạt
                                th 
                                    p KPI
                                th 
                                    p Run rate
                                    p (%)
                                th 
                                    p Tổng
                                    p (%)
                            tr 
                                td 
                                    p Số lượng
                                td 
                                    p 100
                                td
                                    p 500
                                td
                                    .d-flex.align-items-center
                                        img.icon(src="./images/icons/arrow-up.svg", alt="") 
                                        span 125%
                                td
                                    span 20%
                            tr 
                                td 
                                    p Dự nợ (trđ)
                                td 
                                    p 15,500
                                td
                                    p 300,000
                                td
                                    .d-flex.align-items-center
                                        img.icon(src="./images/icons/arrow-up.svg", alt="") 
                                        span 32%
                                td
                                    span 5%
            .cell 
                .panel
                    .panel-heading 
                        ul.d-flex.align-items-center 
                            li 
                                .icon
                                    img(src="./images/icons/couple-user.svg", alt="")
                            li 
                                p.heading KH e-Account
                            li 
                                .img 
                                    img(src="./images/icons/cup-2.png", alt="")
                    .panel-body
                        table.panel-body__table 
                            tr 
                                th 
                                th 
                                    p Thực đạt
                                th 
                                    p KPI
                                th 
                                    p Run rate
                                    p (%)
                                th 
                                    p Tổng
                                    p (%)
                            tr 
                                td 
                                    p Số lượng
                                td 
                                    p 1,000
                                td
                                    p 12,000
                                td
                                    .d-flex.align-items-center
                                        img.icon(src="./images/icons/arrow-up.svg", alt="") 
                                        span 52%
                                td
                                    span 8%
                            tr 
                                td 
                                    p KPI kỳ vọng
                                td 
                                    p 1,000
                                td
                                    p 12,000
                                td
                                    .d-flex.align-items-center
                                        img.icon(src="./images/icons/arrow-up.svg", alt="") 
                                        span 52%
                                td
                                    span 8%
            .cell 
                .panel
                    .panel-heading 
                        ul.d-flex.align-items-center 
                            li 
                                .icon
                                    img(src="./images/icons/id-card.svg", alt="")
                            li 
                                p.heading KH e-Credit
                            li 
                                .img 
                                    img(src="./images/icons/cup.png", alt="")
                    .panel-body
                        table.panel-body__table 
                            tr 
                                th 
                                th 
                                    p Thực đạt
                                th 
                                    p KPI
                                th 
                                    p Run rate
                                    p (%)
                                th 
                                    p Tổng
                                    p (%)
                            tr 
                                td 
                                    p Số lượng
                                td 
                                    p 1,000
                                td
                                    p 12,000
                                td
                                    .d-flex.align-items-center
                                        img.icon(src="./images/icons/arrow-up.svg", alt="") 
                                        span 52%
                                td
                                    span 8%
                            tr 
                                td 
                                    p e-Credit số dư nợ (trđ)
                                td 
                                    p 15,500
                                td
                                    p 300,000
                                td
                                    .d-flex.align-items-center
                                        img.icon(src="./images/icons/arrow-up.svg", alt="") 
                                        span 32%
                                td
                                    span 5%
