// START HOME
section#home.section.header-bg-img.align-items-center.d-flex
	.bg-overlay
	.container.z-index
		.row.justify-content-center
			.col-lg-12
				.text-center.header-content.mx-auto
					h4.text-white.first-title.mb-4 Welcome
					h1.header-name.text-white.text-capitalize.mb-0
						| I'M 
						span.element.fw-bold
					p.text-white.mx-auto.header-desc.mt-4
						| It is a long established fact that a reader will
						| be of a page when established fact looking at its layout.
					.mt-4.pt-2
						a.btn.btn-outline-custom.btn-round(href='#') Download Cv
	.scroll_down
		a.scroll(href='#about')
			i.text-white